@import "tailwindcss";

@font-face {
  font-family: "Novecento";
  src: url("/fonts/Novecentosanswide-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pragmatica";
  src: url("/fonts/Pragmatica.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #F1FBEA;
  --foreground: #1A2A19;
  --accent: #df6d10;
  --C4: #FF0000;
  --CH4: #FF5500;
  --D4 :#FFAA00;
  --DH4: #FFD500;
  --E4: #CCFF00;
  --F4: #66FF00;
  --FH4: #00FF66;
  --G4: #00CCFF;
  --GH4: #0066FF;
  --A4: #3300FF;
  --AH4: #8A00FF;
  --B4: #CC00FF;
}

.dark {
  --background: #1A2A19;
  --foreground: #F1FBEA;
  --accent: #df6d10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: var(--foreground);
  font-family: Novecento, Pragmatica, Arial, sans-serif;

  transition: background-color 240ms ease, color 240ms ease;
}

* {
  transition: color 240ms ease, background-color 240ms ease, border-color 240ms ease;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

